# Exemple: copier vers /etc/pgbouncer/pgbouncer.env et remplir
ADMIN_PW='change_me'
APP_USER='eddji_erp'
APP_DB='eddji_erpdb'
APP_PW='change_me'
COMPOSE_FILE='/home/deploy/pgbouncer/docker-compose.yml'
USERLIST_HOST='/srv/pgbouncer/userlist.txt'
